@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
body {
    background-color: #b279a7;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

ul li {
    margin: 5px;
    width: 300px;
    border-radius: 5px;
}

li input, label {
    cursor: pointer;
}

.main-container {
    width:600px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.quiz-container {
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
    background-color: #d387ab;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    width: 100%;
}

.question {
    color: #efefef;
    margin-top: 24px;
    margin-bottom: 16px;
    padding-left: 8px;
    padding-right: 8px;
}

.results {
    color: #efefef;
    margin-top: 24px;
    margin-bottom: 16px;
    padding-left: 8px;
    padding-right: 8px;
}

.quiz-container li {
    color: rgb(230, 230, 230);
}

button {
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    display: block;
    width: 100%;
    height: 50px;
    font-family: inherit;
}

ul {
    list-style-type: none;
    width: auto;
}

